a{
	color: #0f439d;
}
a:hover{

}
#header h1{
	background: #0f439d url('http://shot.li/cage/60/30') 20px center no-repeat;
	padding-left: 85px;
}
#header h1 a, #header #session a{
	color: #fff;
	text-shadow: none;
}

#nav>ul>li.active{
	background: #0f439d;
}